@font-face {
    font-family: 'Cafe24Shiningstar';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24Shiningstar/Cafe24Shiningstar.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24Shiningstar/Cafe24Shiningstar.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24Shiningstar/Cafe24Shiningstar.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24Shiningstar/Cafe24Shiningstar.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24Shiningstar/Cafe24Shiningstar.ttf') format("truetype");
    font-display: swap;
}